.category-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 45px;
}

.category-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-right: 10px;
  font-weight: normal;
  font-size: 16px;
}

.category-header h3,
.category-header h4 {
  margin: 0;
  flex: 1;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
}
.dropdown-icon {
  font-size: 12px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  margin-left: auto;
  text-align: right;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}
.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.section-divider {
  margin: 15px 0;
  border-top: 1px solid #ccc;
}
.section-gap {
  height: 20px;
}
.star-icon {
  margin-left: 8px;
  color: #ffcc00;
}
.price-range-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.price-range {
  width: 100%;
  margin: 0 10px;
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.save-btn:hover {
  background-color: #0056b3;
}
